{% extends 'base.html' %}
{% block content %}
<h3>Enrollment List</h3>
<a href="{% url 'create_enrollment' %}">Create Enrollment</a>
<ul>
  {% for enrollment in enrollments %}
  <li>
    <a href="{% url 'read_enrollment' enrollment.pk %}">{{ enrollment.student.name }} -> {{ enrollment.group.title }}</a>
    <a href="{% url 'update_enrollment' enrollment.pk %}">Edit</a>
    <a href="{% url 'delete_enrollment' enrollment.pk %}">Delete</a>
  </li>
  {% empty %}
  <li>No enrollments found.</li>
  {% endfor %}
</ul>
{% endblock %}
