{% extends 'base.html' %}
{% block content %}
<h3>Payment Invoice List</h3>
<a href="{% url 'create_payment_invoice' %}">Create Payment Invoice</a>
<ul>
  {% for payment_invoice in payment_invoices %}
  <li>
    <a href="{% url 'read_payment_invoice' payment_invoice.pk %}">Payment Invoice #{{ payment_invoice.pk }}</a>
    <a href="{% url 'update_payment_invoice' payment_invoice.pk %}">Edit</a>
    <a href="{% url 'delete_payment_invoice' payment_invoice.pk %}">Delete</a>
  </li>
  {% empty %}
  <li>No payment invoices found.</li>
  {% endfor %}
</ul>
{% endblock %}
